.landing-page {
    background-image: url('https://lonelyplanetwpnews.imgix.net/2017/11/london-graffiti-tunnel.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 92.9vh;
  .welcome {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.8);
  }
}