.map {
  min-width: 30vw;
  min-height: 400px;
  height: 150px;
}

.mapboxgl-popup {
  max-width: 400px;
  font-size: 20px;
  p {
    font-family: 'Barlow', sans-serif;
    color: rgba(0, 0, 0, 0.8);
  }
}

.mapboxgl-center-popup {
  background-color: red;
  width: 500px;
}

.center-marker {
  color: white;
  font-size: 16px;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-marker:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff1744;
  z-index: -1;
  border-radius: 50% 50% 0 50%;
  transform: rotate(45deg);
}