@import '~mapbox-gl/dist/mapbox-gl.css';

html, body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.map {
  min-width: 30vw;
  min-height: 400px;
  height: 150px;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.margin-top {
  margin: 100px 0 0 0;
}

.rounded-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;

  // min-width: 50px;
  // min-height: 50px;
  max-width: 50px;
  max-height: 50px;
}

.pointer {
  cursor: pointer;

}
