@import '~mapbox-gl/dist/mapbox-gl.css';

html, body {
  margin: 0;
  // font-family: 'Permanent Marker', cursive;
  font-family: 'Barlow', sans-serif;
  // background-color: #ffebee;
}

strong {
  font-weight: 400;
}

.main-logo, .intro-logo {
  font-family: 'Permanent Marker', cursive;
}

* {
  box-sizing: border-box;

}

.map {
  min-width: 30vw;
  min-height: 400px;
  height: 150px;
}

.mapboxgl-popup {
  max-width: 400px;
  font-size: 20px;
  p {
    font-family: 'Barlow', sans-serif;
    color: rgba(0, 0, 0, 0.8);
  }
}

.margin-top {
  margin: 100px 0 0 0;
}

.rounded-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;

  // min-width: 50px;
  // min-height: 50px;
  max-width: 100px;
  max-height: 100px;
}

.pointer {
  cursor: pointer;

}

.landing-page {
    background-image: url('https://lonelyplanetwpnews.imgix.net/2017/11/london-graffiti-tunnel.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 92.9vh;
  .welcome {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.8);
  }
}

.home {
    background-image: url('assets/background.jpg');
    // background-color: red;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // height: 92.9vh;
    background-attachment: fixed;
}

.full-height {
  height: 92.9vh;
}

.no-top-margin {
  margin: 0px;
}



.some-top-padding {
  padding: 100px 0 0 0;
}
